<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> List Notes </title>
</head>
<body>
<div>
    <div>
        <style>
table.GeneratedTable {
  width: 25%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffc800;
}







        </style>
    </div>
    <div>
        <div>
            <table class="GeneratedTable">
                <thead>
                <tr>
                    <th>Podaj datę przekładania larw jednodniowych (dd/mm/rrrr)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <form action="/calendar" method="post">
                            <label for="localDate">Data:
                                </br>(dd/mm/rrrr) (gg:mm)</label><br>
                            <input type="datetime-local" id="localDate" name="localDate" value=><br>
                            <input type="submit" value="Submit">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </br>
        </br>
    </div>
    <div>
        <style>
table.GeneratedTable {
  width: 80%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}







        </style>
    </div>
    <div>
        <table class="GeneratedTable">
            <thead>
            <tr>
                <th>Harmonogram prac</th>
                <th>Data oraz godzina prac</th>
                <th>Prognoza Pogody</th>
            </tr>
            </thead>
            <div>
                <tbody>
                <tr>
                    <td>Izolacja matki</td>
                    <td><span th:text="${calculate.beeQueenIsolation}" th:unless="${calculate == null}"> </span></td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Zabranie z rodziny wychowującej matki i zrobienie miejsca na ramkę z miseczkami matecznikowymi
                    </td>
                    <td><span th:text="${calculate.raisingColony}" th:unless="${calculate == null}"> </span></td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Przekładanie larw jednodniowych</td>
                    <td><span th:text="${calculate.larvaeTransfer}" th:unless="${calculate == null}"> </span></td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Zwrot matki do rodziny wychowującej i odizolowanie jej od ramki matecznikowej</td>
                    <td><span th:text="${calculate.returningQueen}" th:unless="${calculate == null}"> </span></td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Zwrot matki do rodziny wychowującej i odizolowanie jej od ramki matecznikowej - nie później
                        niż
                    </td>
                    <td><span th:text="${calculate.returningQueenNoLater}" th:unless="${calculate == null}"> </span>
                    </td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Zasklepienie mateczników</td>
                    <td><span th:text="${calculate.sealingWax}" th:unless="${calculate == null}"> </span></td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Histoliza</td>
                    <td><span th:text="${calculate.histolysis}" th:unless="${calculate == null}"> </span></td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Izolacja mateczników</td>
                    <td><span th:text="${calculate.insulation}" th:unless="${calculate == null}"> </span></td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Możliwe wygryzanie matek</td>
                    <td><span th:text="${calculate.possibleQueenHatching}" th:unless="${calculate == null}"> </span>
                    </td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Wygryzanie matek</td>
                    <td><span th:text="${calculate.queenHatching}" th:unless="${calculate == null}"> </span></td>
                    <td>Cell</td>
                </tr>
                </tbody>
            </div>
        </table>
        <div>
            <form action="/calendar/pdf/generate" method="post">
<!--                <label for="localDateTime">Data:-->
                <input type="datetime-local" id="localDateTime" name="localDateTime" value=${localDate}><br>
                <input type="submit" value="Drukuj">
            </form>
        </div>
    </div>
</body>
</html>
